#logo{
   width: 80px
}

#playButton{
   background-color: #E9E9ED;
}

#boxContainer{
   width: 35%;
   margin: 0 auto;
} 

main{
   height: 80%;
}

.bgAqua{
   background-color: #71FFD6;
   height: 80%;
}

.box{
   width: calc(100%/10);
   aspect-ratio: 1/1;
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.headerContainer{
   height: 10%;
}

.footerContainer{
   height: 10%;
}

.boxClick{
   background-color: #8fb8de;
}